
@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;


.filament-resource-header{
    font-size: 1.5rem; /* Cambia el tamaño de la letra del encabezado */
}
.filament-table td {
    width: 100%; /* Ocupa el 100% del ancho disponible */
    max-width: none; /* Elimina el límite máximo de ancho */
}
.custom-select-class {
    width: 300px; /* Cambia el ancho del select */
    height: 20px; /* Cambia la altura del select */
}
.compact-select {
    height: 1.5rem; /* h-8 equivalente */
    padding-top: 0.25rem; /* py-1 equivalente */
    padding-bottom: 0.25rem;
    font-size: 0.875rem; /* text-sm equivalente */
}
.custom-textinput-class {
    width: 20px; /* Cambia el ancho del select */
    height: 20px; /* Cambia la altura del select */
}
.rotate-180 {
    transform: rotate(180deg);
}

.transition-transform {
    transition: transform 0.2s ease-in-out;
}
.tabla-excel table {
    border-collapse: collapse !important;
    width: 100%;
}

.tabla-excel th,
.tabla-excel td {
    border: 0.5px solid #090909 !important; /* gris claro */
    padding: 4px 6px !important; /* filas más compactas */
    line-height: 1 !important; /* menor altura */
    font-size: 0.85rem !important; /* texto más pequeño */
}

.tabla-excel th {
    background-color: #f3f4f6; /* color cabecera */
    font-weight: 600;
}

.tabla-excel tr:nth-child(even) td {
    background-color: #f9fafb; /* rayado alterno */
}

/* Si quieres aún menos altura */
.tabla-excel .filament-tables-cell,
.tabla-excel .filament-tables-header-cell {
    padding-top: 2px !important;
    padding-bottom: 2px !important;
}