.filament-resource-header{
    font-size: 1.5rem; /* Cambia el tamaño de la letra del encabezado */
}
.filament-table td {
    width: 100%; /* Ocupa el 100% del ancho disponible */
    max-width: none; /* Elimina el límite máximo de ancho */
}
.custom-select-class {
    width: 300px; /* Cambia el ancho del select */
    height: 20px; /* Cambia la altura del select */
}